<header>
  <ul class="nav">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/research">Research</a>
    </li>
    <li>
      <a href="/teaching">Teaching</a>
    </li>
    <li>
      <a href="/che41"">CHE 341</a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
