/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 960px;

/* colours */
$page-color: #ddd;
$text-color: #000;
$accent-color: #fff ;
$dark-color: #000;
$mupurple-color: #752f8a;

